img{
    max-width: 100%;
}
body > div.container{
    margin-top: 51px;
    min-height: 300px;
}
.row{
    margin-top: 20px;
}
.row .photo-thumb{
	overflow: hidden;
}
.row .photo-thumb a.delete-photo{
	position: absolute;
	right: 30px;
	top: -30px;
	padding: 5px 20px;
	background-color: #000;
	color: #cdcdcd;
	text-decoration: none;
	transition: top 300ms ease-out;
	-webkit-transition: top 300ms ease-out;
	-moz-transition: top 300ms ease-out;
}
.row .photo-thumb a.delete-photo:hover{
	color: #fff;
}
.row .photo-thumb:hover > a.delete-photo{
	top: 10px;
}
.loading-animation{
	display: none;
	text-align: center;
}
.loading-animation .loading-icon{
	width: 18px;
	height: 18px;
	margin: 20px auto;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;
	-webkit-animation: loading 400ms linear infinite;
	animation: loading 400ms linear infinite;
}
@-webkit-keyframes loading {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Progress bar */
#progress-bar{
	background: #29d;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	z-index: 1031;
}
#progress-bar > div{
	display: block;
	background-color: #29DD22;
	height: 100%;
	width: 0;
	transition: width 200ms ease;
	-webkit-transition: width 200ms ease;
	-moz-transition: width 200ms ease;
	-ms-transition: width 200ms ease;
}
footer{
	background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
	border-bottom: 1px solid #178acc;
	filter: none;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	min-height: 20px;
}