{% extends 'base.html' %}
{% load staticfiles %}

{% block page-id %}
image-index
{% endblock %}
{% block title %}Đẹp như chưa từng đẹp{% endblock %}

{% block content %}
<div class="jumbotron clearfix">
	<div class="pull-left">
		<h1 class="together-days">
			<span class="day">{{ together_days }}</span> days together
		</h1>
		<p>Em chỉ mới upload được <span>{{ numOfPhotos }}</span> hình à. Upload thêm đê!</p>
	</div>
	<div class="profile pull-right col-md-5">
		<div class="name" align="center">
			{{ lovers.male.name }} <span>&amp;</span> {{ lovers.female.name }}
		</div>
		<div class="fb-avatar" align="center">
			<img class="male" alt="{{ lovers.male.name }}" src="http://graph.facebook.com/{{ lovers.male.fb }}/picture?type=normal" />
			<img class="female" alt="{{ lovers.female.name }}" src="http://graph.facebook.com/{{ lovers.female.fb }}/picture?type=normal">
		</div>
	</div>
</div>
{% endblock %}

{% block head-css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}
